*{
	font-family: 'Varela Round', sans-serif;
  
}

html{
    height: 100%;
}


.main{
  display: none;
}

body{
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    
    background: linear-gradient(#ff9000, #ffaa00);
    background: -webkit-linear-gradient(#ff9000, #ffaa00);
    background: -moz-linear-gradient(#ff9000, #ffaa00);
    background: -ms-linear-gradient(#ff9000, #ffaa00);
    background: -o-linear-gradient(#ff9000, #ffaa00);
    background: linear-gradient(#ff9000, #ffaa00);*/
  margin: 0;
padding: 0;
  background-color: #fc8f8f;
}

h1{
  font-family: 'Indie Flower', cursive;
  text-align: center;
  padding: 2.5% 0;
  font-size: 60px;
    
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
}
	

.topnav {
	top: 0;
	left: 10%;
	background-color: #2d2d2d;
	margin: auto;
	margin-top: 0.2%;
	width: 80%;
	border-radius: 100px;
  overflow: hidden;
  
  
}
.topnav a {
  margin: auto;
  float: left;
  display: block;
  color: #f2f2f2;
  padding: 1.3% 0;
  text-align: center;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover {
  color: #c1c1c1;
}

.box{
  text-align: center;
  padding: 2% 0;
  margin-top: 1%;
  margin:auto;
  border: 1px solid;
}

.box img{
  margin: auto;
  max-height:95%; max-width:95%;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px){
    h1{
		font-size: 40px;
}
}



.container-fluid{
  text-align: center;
}

.form{
  margin:1.5% 7% 0 7%;
  padding: 2% 0;
  background-color: white;
  display: none;
  text-align: center;
  border: 2px solid;
  border-radius: 5px;
}
.form h4{
  padding-top: 2.5%;
}

.login-button{
  padding: 1% 3%;
  margin-top: 3%;
  height: 5%;
  font-size: 17px;
  cursor: pointer; 
  color:white;
  background-color: #2d2d2d; 
  border: none
}
  
@media screen and (min-width: 800px){
    h1{
		font-size: 70px;
  }}

@media screen and (min-width: 700px){
  .form{
    margin: 1% 25% 0 25%;
    
  }
}

@media screen and (min-width: 900px){
  .form{
    margin: 1% 35% 0 35%;
    
  }
}

.navselected{
  background-color: #424242;
}

.info{
  display:none;
  top: 0;
left: 0;
position: fixed;
width: 100%;
height: 100%;
  z-index: 100;
  background-color: aqua;
}